// font-family: 'Avenir', serif;
@include font-face("Avenir", '/fonts/Avenir/Avenir-Book', 400);

body {
    font-family: 'Avenir', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    font-size: rem(15px);
}

button {
  border: 0;
}

.app {
  position: relative;
  background-color: $white;
  width: 100%;
  max-width: rem(1000px);
  height: 100vh;
}

// Form inputs
.material-input {
    position: relative;
    margin-bottom: 30px;

    input {
      background-color: transparent;
    }

    label {
      color: #999;
      font-size: rem(10px);
      letter-spacing: rem(1px);
      text-transform: uppercase;
      position: absolute;
      pointer-events: none;
      top: rem(10px);
      transition: 0.2s ease all;
      width: 100%;
    }

    input:not([type]),
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=time],
    input[type=date],
    input[type=datetime-local],
    input[type=tel],
    input[type=number],
    input[type=search] {
      color: #333;
      font-size: 16px;
      padding: 10px 10px 10px 0;
      position: relative;
      display: block;
      border: none;
      width: 100%;
      border-bottom: 1px solid #e8e8e9;

      &:focus {
        outline: none;
      }

      &:focus + label,
      &:valid + label {
        top: -10px;
        color: $gray-dark;
      }

      &:focus ~ .bar:before,
      &:focus ~ .bar:after,
      &:valid ~ .bar:before,
      &:valid ~ .bar:after {
        width: 51%;
        background: #e8e8e9;
        border-bottom: 0px;
      }
    }
    
    .bar {
      position: relative;
      display: block;
      width: 100%;
      &:before,
      &:after {
        content: '';
        height: 2px;
        width: 0px;
        position: absolute;
        bottom: 0.5px;
        background: #e2e2e4;
        transition: 0.2s ease all;
      }
      &:before {
        left: 51%;
      }
      &:after {
        right: 49%;
      }
      & + label:after {
        display: block;
        content: "";
        position: absolute;
        top: 65px;
        opacity: 0;
        transition: 0.2s opacity ease-out, 0.2s color ease-out;
      }
    }

    select {
      appearance: none;
      background-color: transparent;
      color: #333;
      font-size: 16px;
      padding: 10px 10px 10px 0;
      position: relative;
      display: block;
      width: 300px;
      border: none;
      border-bottom: 1px solid #d5d5d5;
      border-radius: 0;
      &:focus {
        outline: none;
      }
    }
    select + .icon-arrow-down {
      position: absolute;
      float: right;
    }

    select option:checked + label {
      display: none;
    }

    input[type="radio"] + label {
      pointer-events: all;
    }

    input[type="radio"]:not(:checked),
    input[type="radio"]:checked {
      position: absolute;
      left: -9999px;
    }
    input[type="radio"]:not(:checked) + label,
    input[type="radio"]:checked + label {
      position: relative;
      padding-left: 35px;
      padding-top: 4px;
      cursor: pointer;
      width: 100%;
      display: inline;
    }
    input[type="radio"]:not(:checked) + label:before,
    input[type="radio"]:checked + label:before,
    input[type="radio"]:not(:checked) + label:after,
    input[type="radio"]:checked + label:after {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 24px;
      height: 24px;
      transition: 0.2s ease all;
    }
    input[type="radio"]:not(:checked) + label:before,
    input[type="radio"]:checked + label:before {
      border: 1.5px solid #b9b9ba;
    }
    input[type="radio"]:checked + label:before {
      border: 1px solid #49ba8e;
    }
    input[type="radio"]:not(:checked) + label:before,
    input[type="radio"]:checked + label:before {
      border-radius: 50%;
    }
    input[type="radio"]:not(:checked) + label:after,
    input[type="radio"]:checked + label:after {
      font-size: 9px;
      color: #fff;
      background: #49ba8e;
    }
    input[type="radio"]:not(:checked) + label:after {
      transform: scale(0,0);
    }
    input[type="radio"]:checked + label:after {
      transform: scale(1,1);
    }
    input[type="radio"]:checked + label:after {
      border-radius: 50%;
      width: 16px;
      height: 16px;
      left: 5px;
      top: 7px;
    }

}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #e8e8e9;
  padding-bottom: 0.5rem;

  label {
    color: #999;
    margin-bottom: rem(16px);
  }

  select {
    border: 0;
    outline: 0;
    background-color: transparent;
    background: none;
    -webkit-appearance: none;
    -moz-appearance:none;
    text-indent: 0.01px;
    text-overflow: '';
  }

  a {
    position: absolute;
    right: 0;
    top: rem(10px);
    text-decoration: none;
    font-size: rem(13px);
  }
}

.after-form {
  font-size: rem(10px);
  color: $gray-dark;
  text-align: center;
  margin-top: rem(33px);
  letter-spacing: rem(1px);
  text-transform: uppercase;

  a {
      color: $black;
      text-decoration: none;
  }
}

// Buttons
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(15px);
    line-height: rem(25px);
    width: 100%;
    border: 0;
    height: rem(55px);
    transition: background-color 0.3s;

    &:hover {
        cursor: pointer;
    }

    &-primary {
        background-color: $green;
        color: $white;
        &:focus,
        &:hover {
            background-color: darken($green, 10);
        }
    }
}

h1.title {
  font-size: rem(17px);
  color: $black;
  line-height: rem(25px);
  font-weight: 400;
  margin: 0;
}

.topbar {
  height: rem(65px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save,
a.add,
a.menu,
a.close {
  display: block;
  width: rem(19px);
  height: rem(19px);
  position: absolute;
}

a.menu,
a.close {
  left: rem(32px);
  top: 23px;
}

.save,
a.add {
  right: rem(32px);
}

.cols {
  display: flex;
  justify-content: space-between;

  > div {
    width: 47%;
  }
}
