<template>
    <div class="add">
        <div class="topbar">
            <router-link class="menu" to="/">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 224.512 224.512"><path fill="#c1c1c3" d="M224.507 6.997L217.521 0 112.256 105.258 6.998 0 .005 6.997l105.258 105.257L.005 217.512l6.993 7L112.256 119.24l105.265 105.272 6.986-7-105.258-105.258z"/></svg>
            </router-link>
            <h1 class="title">Add new</h1>
            <button class="save" @click.prevent="save">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" viewBox="0 0 406.834 406.834"><path fill="#c1c1c3" d="M385.621 62.507L146.225 301.901 21.213 176.891 0 198.104l146.225 146.223L406.834 83.72z"/></svg>
            </button>
        </div>

        <add-event ref="formdata"></add-event>
    </div>
</template>

<script>
import axios from 'axios'
import AddEvent from '@/components/AddEvent.vue'

export default {
    name: 'add',
    components: {
        'add-event': AddEvent,
    },

    methods: {
        save(){
            axios.post(`${process.env.VUE_APP_API_DOMAIN}/api/v1/addevent`, this.$refs.formdata.form)
            .then(function () {
                
            })
            .catch(function () {
                
            });
        }
    }
}
</script>
