<template>
  <div class="home">
    <div class="topbar">
        <app-menu></app-menu>
        <h1 class="title">Home</h1>
        <router-link class="add" to="/add">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"><path fill="#c1c1c3" d="M42 20H22V0h-2v20H0v2h20v20h2V22h20z"/></svg>
        </router-link>
    </div>
    <events></events>
  </div>
</template>

<script>
import Menu from '@/components/Menu.vue'
import Events from '@/components/Events.vue'

export default {
  name: 'Home',
  components: {
    'app-menu': Menu,
    'events': Events,
  },
}
</script>
