<template>
  <div>
    <div class="logo">
      <img src="/images/logo.png" alt="">
    </div>
    <Login></Login>
  </div>
</template>

<style lang="scss" scoped>
.logo {
  text-align: center;
  margin-bottom: rem(120px);
  margin-top: rem(120px);
}
</style>

<script>
import Login from '@/components/Login';

export default {
  name: 'signin',
  components: {
    Login
  }
}
</script>
