<template>
    <div>
        <div class="topbar">
            <router-link class="close" to="/sign-in">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" viewBox="0 0 224.512 224.512"><path fill="#c1c1c3" d="M224.507 6.997L217.521 0 112.256 105.258 6.998 0 .005 6.997l105.258 105.257L.005 217.512l6.993 7L112.256 119.24l105.265 105.272 6.986-7-105.258-105.258z"/></svg>
            </router-link>
            <h1 class="title">Sign Up</h1>
        </div>
        <avatar></avatar>
        <registration></registration>
    </div>
</template>

<script>
import avatar from '@/components/Avatar'
import registration from '@/components/Registration'

export default {
    name: 'sign-up',
    components: {
        avatar,
        registration
    }
}
</script>
