<template>
    <form class="add-event" action="" method="post">
        <div class="main">
            <div class="material-input">
                <input class="input-item" v-model="form.title" name="title" type="text" required>
                <label>Title</label>
                <span class="bar"></span>
            </div>
            <div class="material-input">
                <input class="input-item" v-model="form.description" name="description" type="text" required>
                <label>Description</label>
                <span class="bar"></span>
            </div>
        </div>
        <div class="fields">
            <div class="material-input">
                <datepicker name="date" v-model="form.date">
                    <label slot="afterDateInput">
                        Date
                    </label>
                </datepicker>
                <span class="bar"></span>
            </div>
            <div class="cols">
                <div class="material-input">
                    <input type="time" name="time_from" v-model="form.time_from">
                    <label>From</label>
                    <span class="bar"></span>
                </div>
                <div class="material-input">
                    <input type="time" name="time_to" v-model="form.time_to">
                    <label>To</label>
                    <span class="bar"></span>
                </div>
            </div>
            <div class="material-input">
                <input class="input-item" name="location" v-model="form.location" type="text" required>
                <label>Location</label>
                <span class="bar"></span>
            </div>
            <div class="input">
                <label for="notify">Notify</label>
                <select name="notify" id="notify" v-model="form.notify">
                    <option value="">Never</option>
                    <option value="20" selected>20 minutes</option>
                    <option value="60">60 minutes</option>
                    <option value="1440">1 day</option>
                </select>
                <a href="javascript:">Email</a>
            </div>
        </div>
    </form>
</template>

<script>
export default {
    name: 'add-event',

    data(){
        return {
            form: {
                title: '',
                description: '',
                date: '',
                time_from: '',
                time_to: '',
                location: '',
                notify: '',
            }
        }
    },
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/_settings';

.main {
    background-color: $gray;
    padding: 2rem;

    > div {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.input a {
    color: $black;
    font-size: rem(14px);
    top: rem(32px);
}

.fields {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1.5rem;
}

.cols {
    margin-top: 2.3rem;
}
</style>
