<template>
    <div class="avatar-outer">
        <vue-transmit class="avatar" tag="section" v-bind="options" ref="uploader">
            <button class="btn-avatar" @click="triggerBrowse">+</button>
            <template slot="files" slot-scope="props">
                <div v-for="file in props.files" :key="file.id">
                    <div class="media">
                        <img :src="file.dataUrl" class="img-fluid d-flex mr-3">
                    </div>
                    <pre style="display:none">{{ file }} </pre>
                </div>
            </template>
        </vue-transmit>
    </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/_settings';

$avatar-prev-width: 100px;
$avatar-prev-border-radius: $avatar-prev-width / 2;

/deep/ .v-transmit__upload-area {
    position: absolute;
    width: rem(30px);
    height: rem(30px);
    right: rem(15px);
    top: rem(-10px);

    button {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background: $green;
        color: #fff;
        border-radius: rem($avatar-prev-border-radius);
        border: 0;
        line-height: 2.1em;
    }
}

.avatar-outer {
    position: relative;
    width: rem($avatar-prev-width);
    height: rem($avatar-prev-width);
    margin: 0 auto;
    margin-top: 2rem;
}

.avatar {
    overflow: hidden;
    width: rem($avatar-prev-width);
    height: rem($avatar-prev-width);
    border-radius: rem($avatar-prev-border-radius);
    background-color: $gray;
}

/deep/ input[type='file'] {
    width: rem($avatar-prev-width);
}
</style>


<script>
import { VueTransmit } from "vue-transmit";

export default {
    name: 'image-input',

    data() {
      return {
        options: {
            acceptedFileTypes: ['image/*'],
            clickable: false,
            adapterOptions: {
                url: './upload.php',
            },
        }
      }
    },

    components: {
        "vue-transmit": VueTransmit,
    },

    methods: {
        triggerBrowse() {
            this.$refs.uploader.triggerBrowseFiles()
        },

        
    },
}
</script>
