<template>
    <div>
        <ul class="days">
            <li class="day" v-for="(events,day) in days" :key="`day_${day}`">
                <div class="title">{{ day }}</div>
                <ul class="events">
                    <li class="event" v-for="(event,index) in events" :key="`day_${index}`">
                        <div class="event-label"></div>
                        <div class="title">{{ event.title }}</div>
                        <div class="details">
                            <div v-if="event.time_from"><img src="/images/time.png" alt=""> <span>{{ event.time_from }} - {{ event.time_to }}</span></div>
                            <div v-if="event.location"><img src="/images/marker.png" alt=""> <span>{{ event.location }}</span></div>
                        </div>
                        <div class="actions">
                            <button v-if="event.status===1" @click.prevent="markDelete(event.id)">
                                <img src="/images/bin.png">
                            </button>

                            <button v-if="event.status===0" @click.prevent="markComplete(event.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" viewBox="0 0 406.834 406.834"><path fill="#c1c1c3" d="M385.621 62.507L146.225 301.901 21.213 176.891 0 198.104l146.225 146.223L406.834 83.72z"></path></svg>
                            </button>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/_settings';

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.day {
    > .title {
        height: rem(55px);
        background-color: $gray;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        font-size: rem(11px);
        text-transform: uppercase;
        color: #1d1d26;
        opacity: 0.5;
        letter-spacing: rem(1.1px);
        position: relative;

        &:before {
            content: '';
            width: rem(4px);
            position: absolute;
            background-color: #e2e2e3;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}

.actions {
    width: rem(22px);
    position: absolute;
    right: 1.7rem;
    top: 2rem;
}

.event {
    height: rem(93px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    box-sizing: border-box;
    border-bottom: 1px solid #f4f4f4;
    position: relative;

    .event-label {
        position: absolute;
        left: 0;
        top: 0;
        width: rem(4px);
        height: 100%;
        background-color: $green;
    }

    > .title {
        font-size: rem(15px);
        font-weight: 300;
    }
}

.details {
    display: flex;
    font-size: rem(12px);
    align-items: center;
    margin-top: rem(7px);

    > div {
        display: flex;
        align-items: center;
        height: rem(25px);

        &:first-child {
            margin-right: 1rem;
        }
    }

    img {
        margin-right: rem(5px);
    }

    span {
        margin-top: rem(3px);
    }
}
</style>


<script>
import axios from 'axios'

export default {
    name: 'events',

    data(){
        return {
            days: false,
        }
    },

    methods:{
        getEvents(){
            axios.get( `${process.env.VUE_APP_API_DOMAIN}/api/v1/getevents`).then( r => r.data ).then(data => {
                this.days = data;
            });
        },

        markComplete(id){
            axios.post( `${process.env.VUE_APP_API_DOMAIN}/api/v1/${id}/complete`).then( r => r.data ).then(data => {
                this.days = data;
            });
        },

        markDelete(id){
            axios.delete( `${process.env.VUE_APP_API_DOMAIN}/api/v1/${id}`).then( r => r.data ).then(data => {
                this.days = data;
            });
        }
    },

    created(){
        this.getEvents();
    }
}
</script>
