<template>
    <div class="login">
        <form action="" method="post">
            <div class="material-input">
                <input class="input-item" v-model="form.email" name="email" type="email" required>
                <label>Username</label>
                <span class="bar"></span>
            </div>
            <div class="material-input">
                <input class="input-item" v-model="form.password" name="password" type="password" required>
                <label>Password</label>
                <span class="bar"></span>
                <a href="javascript:">Forgot Password</a>
            </div>
            <button class="btn btn-primary" type="submit" @click.prevent="login">Sign In</button>
        </form>
        <div class="after-form">DON’T HAVE AN ACCOUNT? <router-link to="sign-up">SIGN UP</router-link></div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'login',

    data(){
        return {
            form: {
                email: '',
                password: '',
            }
        }
    },

    methods: {
        login(){
            axios.post(`${process.env.VUE_APP_API_DOMAIN}/api/v1/login`, this.form)
            .then(function (response) {
                if ( response.data.token ) {
                    localStorage.setItem('user-token', response.data.token);
                    window.location.replace("/");
                }
            })
            .catch(function () {
                localStorage.removeItem('user-token');
            });
        }
    }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/_settings';

.material-input a {
    position: absolute;
    right: 0;
    top: rem(10px);
    text-decoration: none;
    color: $gray-dark;
    font-size: rem(13px);
}

.login {
    padding-left: 2rem;
    padding-right: 2rem;
}
</style>
