<template>
    <div>
        <a :class="{menu:true, active:menuActive}" href="javascript:" @click.prevent="toggleMenu">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><g fill="#c1c1c3"><path d="M0 3h50v2H0zM0 17h50v2H0zM0 31h50v2H0zM0 45h50v2H0z"/></g></svg>
        </a>
        <div :class="{'app-menu':true, active:menuActive}">
            <div class="heading">
                <div><img src="/images/avatar.png" alt=""></div>
                <div>
                    <h2>Andrea Pierce</h2>
                    <div class="usermail">andrea@invisionapp.com</div>
                </div>
            </div>
            <ul>
                <li><a href="javascript:" @click.prevent="menuActive=false">Home</a></li>
                <li><router-link to="/add">Add New</router-link></li>
                <li><a href="javascript:" @click.prevent="logout">Logout</a></li>
            </ul>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import '../assets/scss/_settings';

.app-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: $green;
    color: $white;
    transition: width 0.3s;
    z-index: 10;
    overflow: hidden;

    &.active {
        width: 100%;
    }
}

ul,
.heading {
    min-width: rem(320px);
    max-width: rem(400px);
}

.heading {
    display: flex;
    align-items: center;
    height: rem(80px);
    padding-left: 3rem;
    padding-top: 2rem;

    > div {
        &:first-child {
            flex: 1;
        }
        &:last-child {
            flex: 4;
        }
    }
}

h2 {
    font-size: rem(25px);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: rem(4px);
}

.usermail {
    opacity: 0.5;
}

ul {
    list-style-type: none;
    margin-top: 4rem;
    padding-left: 3rem;

    li {
        margin-bottom: rem(21px);
        padding-left: 2rem;
    }

    a {
        font-size: rem(18px);
        font-weight: 300;
        line-height: rem(25px);
        letter-spacing: rem(0.54px);
        text-decoration: none;
        color: $white;
    }
}
</style>


<script>
export default {
    name: 'app-menu',

    data(){
        return {
            menuActive: false,
        }
    },

    methods: {
        toggleMenu(){
            this.menuActive = ! this.menuActive;
        },

        logout(){
            localStorage.removeItem('user-token');
            this.$router.push('/sign-in');
        }
    }
}
</script>
