<template>
    <div class="registration">
        <form action="" method="post">
            <div class="material-input">
                <input class="input-item" v-model="form.fullname" name="fullname" type="text" required>
                <label>Full name</label>
                <span class="bar"></span>
            </div>
            <div class="material-input">
                <input class="input-item" v-model="form.email" name="email" type="email" required>
                <label>Email</label>
                <span class="bar"></span>
            </div>
            <div class="material-input">
                <input class="input-item" v-model="form.password" name="password" type="password" required>
                <label>Password</label>
                <span class="bar"></span>
            </div>
            <div class="material-input">
                <datepicker name="birthday" v-model="form.birthday">
                    <label slot="afterDateInput" class="animated-placeholder">
                        Birthday
                    </label>
                </datepicker>
                <span class="bar"></span>
            </div>
            <button class="btn btn-primary" type="submit" @click.prevent="register">Create</button>
        </form>
        <div class="after-form">ALREADY HAVE AN ACCOUNT? <router-link to="/sign-in">SIGN IN</router-link></div>
    </div>
</template>

<style>
.registration {
    margin-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
</style>


<script>
import axios from 'axios'

export default {
    name: 'registration',

    data(){
        return {
            form: {
                fullname: '',
                email: '',
                password: '',
                birthday: '',
            }
        }
    },

    methods: {
        register(){
            let self = this;

            axios.post(`${process.env.VUE_APP_API_DOMAIN}/api/v1/register`, this.form)
            .then(function (response) {
                if ( response.data.id ) {
                    localStorage.removeItem('user-token');
                    self.$router.push('/');
                }
            })
            .catch(function () {
                
            });
        }
    }
}
</script>
